<div id="menu">
	<ul>
		{% for item in menu.primary.get_items %}
			<li class="{{ item.classes|join(' ') }}"><a href="{{ item.get_path }}">{{ item.title }}</a>
		{% endfor %}
	</ul>
</div>

<div class="sidebar perma col-md-5 col-sm-12 ">

	<span class="menu-trigger side-writer-icon animated fadeInDown">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</span>

	<!-- if the user has javascript disabled they can still use the menu -->
	<noscript>
		<div class="no-js-menu">
			<ul>
				{% for item in menu.primary.get_items %}
					<li class="{{ item.classes|join(' ') }}"><a href="{{ item.get_path }}">{{ item.title }}</a>
				{% endfor %}
			</ul>
		</div>
	</noscript>
	<!-- end no script -->

	<div class="site-info">
		<div class="primary-info">{% if title %}<h1>{{ title }}</h1>{% else %}<h1>{{ post.title }}</h1>{% endif %}</div>
		<div class="secondary-info">
			<h2><a href="{{ site.url }}">{{ site.name }}</a></h2>
			<p>{{ site.description }}</p>
		</div>
	</div>

</div>
