{#<?php#}
{% extends "shell.twig" %}

{% block html %}
{% include 'html-header.twig' %}

<body class="{{ body_class }}">

	<a href="#content" class="sr-only skip-link screen-reader-text">{{ i18n.skiptomaincontent }}</a>

	{% do action( 'get_header' ) %}

	{% do action( 'maera/header/before', post.ID ) %}
	{% include 'header.twig' %}
	{% do action( 'maera/header/after', post.ID ) %}

	{% do action( 'maera/wrap/before', post.ID ) %}

	{{ shell.open_container( 'div', 'wrap-main-section', 'wrap main-section' ) }}

		{% do action( 'maera/content/before', post.ID ) %}

		<div class="content" id="content" itemprop="mainContentOfPage">

			{{ shell.open_row( 'div', null, 'bg' ) }}

				<div class="content-primary-wrapper {{ 'main'|apply_filters( 'maera/section_class/wrapper' ) }}">
					{% do action( 'maera/main/before', post.ID ) %}
					<main class="{{ 'main'|apply_filters( 'maera/section_class/content' ) }}" role="main">

						{% if title %}<h1>{{ title }}</h1>{% endif %}
						{% block content %}
							{{ i18n.sorrynocontent }}
						{% endblock %}

					</main><!-- /.main -->
					{% do action( 'maera/main/after', post.ID ) %}

					{# PRIMARY SIDEBAR #}
					<aside id="sidebar-primary" class="{{ 'sidebar'|apply_filters( 'maera/section_class/primary' ) }}" role="complementary">
						{{ sidebar.primary }}
					</aside>
				</div>

				{# SECONDARY SIDEBAR #}
				<aside id="sidebar-secondary" class="{{ 'sidebar'|apply_filters( 'maera/section_class/secondary' ) }}" role="complementary">
					{{ sidebar.secondary }}
				</aside>


				{{ shell.clearfix }}

			{{ shell.close_row( 'div' ) }}

		</div><!-- /#content -->

		{% do action( 'maera/content/after' ) %}

	{{ shell.close_container( 'div' ) }}

	{% do action( 'maera/footer/before', post.ID ) %}
	<footer class="page-footer">
		{% do action( 'maera/footer/start', post.ID ) %}
		{% include 'footer.twig' %}
		{% do action( 'maera/footer/end', post.ID ) %}
	</footer>
	{% do action( 'maera/footer/after', post.ID ) %}
	{{ function( 'wp_footer' ) }}
</body>
</html>
{% endblock %}
