{% import 'framework.html.twig' as framework %}
{% include 'html-header.twig' %}

<body class="{{ body_class }}" data-source="base.twig">

	<a href="#content" class="sr-only">{{ __( 'Skip to main content', 'shoestrap' ) }}</a>

	{% do action( 'get_header' ) %}

	{% do action( 'shoestrap/top-bar/before' ) %}
	{% include 'parts/top-bar.twig' %}
	{% do action( 'shoestrap/top-bar/after' ) %}

	{% do action( 'shoestrap/wrap/before' ) %}

	{{ framework.open_container( 'div', 'wrap-main-section', 'wrap main-section' ) }}

		{% do action( 'shoestrap/content/before' ) %}

		<div class="content" id="content">

			{{ framework.open_row( 'div', null, 'bg' ) }}

				{% do action( 'shoestrap/main/before' ) %}
				<main class="{{ 'main' | apply_filters( 'shoestrap/section_class/main' ) }}" role="main">

					{% if title %}<h1>{{title}}</h1>{% endif %}
					{% block content %}
						Sorry, no content
					{% endblock %}

				</main><!-- /.main -->
				{% do action( 'shoestrap/main/after' ) %}

				{# PRIMARY SIDEBAR #}
				<aside id="sidebar-primary" class="{{ 'sidebar' | apply_filters( 'shoestrap/section_class/primary' ) }}" role="complementary">
					{{ sidebar_primary }}
				</aside>

				{# SECONDARY SIDEBAR #}
				<aside id="sidebar-secondary" class="{{ 'sidebar' | apply_filters( 'shoestrap/section_class/secondary' ) }}" role="complementary">
					{{ sidebar_secondary }}
				</aside>


				{{ framework.clearfix }}

			{{ framework.close_row( 'div' ) }}

		</div><!-- /#content -->

		{% do action( 'shoestrap/content/after' ) %}

	{{ framework.close_container( 'div' ) }}

	{% do action( 'shoestrap/footer/before' ) %}
	{% include 'footer.twig' %}
	{{ function( 'wp_footer' ) }}
</body>
</html>
