{#<?php#}
{% do action( 'maera/main/before', post.ID ) %}
<main class="{{ 'main'|apply_filters( 'maera/section_class/content' ) }}" role="main">

	{% if title %}<h1>{{ title }}</h1>{% endif %}
	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="content-{{ post.ID }}" itemscope itemtype="http://schema.org/WebPage">

			{% include 'single-title.twig' %}

			{{ shell.clearfix }}
			{{ bp_content }}
			{{ shell.clearfix }}
			{% do action( 'maera/page/after_content' ) %}

		</article>

	</div> <!-- /content-wrapper -->
	
</main><!-- /.main -->
{% do action( 'maera/main/after', post.ID ) %}
