{#<?php#}
{% extends "main.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="content-{{ post.ID }}" itemscope itemtype="http://schema.org/WebPage">

			{% include ['single-'~post.post_type~'-title.twig', 'single-title.twig'] %}

			{{ shell.clearfix }}
			{{ bp_content }}
			{{ shell.clearfix }}
			{% do action( 'maera/page/after_content' ) %}

		</article>

	</div> <!-- /content-wrapper -->

{% endblock %}
