{#<?php#}
<article {{ function( 'post_class' ) }} id="tease-{{ post.ID }}" itemscope itemtype="http://schema.org/WebPage">

	<header class="entry-header">
		<title itemprop="name">{{ post.title }}</title>
		<h1 class="entry-title">{{ post.title|apply_filters( 'maera/title' ) }}</h1>
	</header>

	{% do action( 'maera/page/pre_content' ) %}
	{{ post.content }}
	{% do action( 'maera/page/after_content' ) %}

</article>
