{% set width  = content_width // 3 %}
{% set height = width // 1.618 %}

<a class="download-featured-image" title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
	{% if post.thumbnail %}<img src="{{ post.thumbnail.src|resize( width, height ) }}">
	{% else %}<img src="{{ default_image.src|resize( width, height, 'center' ) }}">{% endif %}
</a>
