{#<?php#}
<!DOCTYPE html>
{% include 'head.twig' %}
<body class="{{ body_class }}">

    <a href="#content" class="screen-reader-text skip-link screen-reader-text">{{ __( 'Skip to main content', 'maera' ) }}</a>

    {% do action( 'get_header' ) %}

    {% do action( 'maera/header/before', post.ID ) %}
    <header class="header" >
        {% block header %}
        <div class="wrapper">

            <h1 class="hdr-logo" role="banner">
                <a class="hdr-logo-link" href="/" title="Timber" rel="home">{{ bloginfo( 'name' ) }}</a>
            </h1>
            <nav id="access" class="main-navigation" role="navigation">
                <ul>
                    {% for item in menu.items %}
                    <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                        <a href="{{item.link}}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav><!-- #access -->

        </div>
        {% endblock %}
    </header>
    {% do action( 'maera/header/after', post.ID ) %}
