{#<?php#}
{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="tease-{{ post.ID }}" itemscope itemtype="http://schema.org/WebPage">

			{% include 'parts/single-title.twig' %}

			<p class="post-meta">
				<span itemprop="datePublished">{{ post.date }}</span>
				{{ __( 'under', 'maera' ) }}
				{% for category in post.get_categories %}
					<a href="{{ category.get_path }}" itemprop="articleSection">{{ category.name }}</a>
				{% endfor %}
				{{ __( 'by', 'maera' ) }}
				<a href="{{ post.author.link }}" itemprop="author">{{ post.author.name }}</a>
				{% if post.comments %}
					{{ __( 'with', 'maera' ) }}
					<a href="{{ post.link }}#comments">{{ post.comment_count }} {{ __( 'comments', 'maera' ) }}</a>
				{% endif %}
			</p>

			{{ shell.clearfix }}
			{% do action( 'maera/page/pre_content' ) %}
			{{ post.content }}
			{{ shell.clearfix }}
			{{ function( 'wp_link_pages', {
				'before': '<div class="page-links">' . __( 'Pages:', 'maera' ),
				'after': '</div>'
			}) }}
			{{ shell.clearfix }}
			{% do action( 'maera/page/after_content' ) %}

		</article>

	</div> <!-- /content-wrapper -->

{% endblock %}
