{#<?php#}
<ul class="pagination" itemprop="pagination">
	{% if pagination.prev %}
		<li><a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">&laquo;</a></li>
	{% endif %}

	{% for page in pagination.pages %}
		<li>
			{% if page.link %}
				<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
			{% else %}
				<span class="{{ page.class }}">{{ page.title }}</span>
			{% endif %}
		</li>
	{% endfor %}

	{% if pagination.next %}
		<li><a href="{{ pagination.next.link }}" class="next {{ pagination.next.link|length ? '' : 'invisible' }}">&raquo;</a></li>
	{% endif %}
</ul>
