{% set width  = content_width // columns %}
{% set height = width // 1.618 %}

<div id="post-{{ post.ID }}" {{ function('post_class', download_classes) }}>

	{% if post.thumbnail %}<img src="{{ post.thumbnail.src|resize( width, height ) }}">
	{% else %}<img src="{{ default_image.src|resize( width, height, 'center' ) }}">{% endif %}

	<div class="content">
		<h5 class="title clearfix">{{ post.title }}</h5>
		<p class="icon-links">
			{% if post.edd_coming_soon %}
				<a class="[maera_button_default_small] {{ theme_mods.checkout_color }} radius" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
					{% if post.edd_coming_soon_text %}{{ post.edd_coming_soon_text }}
					{% else %}{{ __('Coming Soon', 'maera_edd') }}{% endif %}
				</a>
			{% else %}
				{% if variable_priced %}
					<a class="{{ theme_mods.checkout_color }}" title="{{ __( 'Choose options for ', '	maera_edd' ) }} {{ post.title }}" href="{{ post.link }}"><span class="dashicons dashicons-screenoptions"></span></a>
					<a class="{{ theme_mods.checkout_color }}" title="{{ __( 'More details on ', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}"><span class="dashicons dashicons-visibility"></span></a>
				{% else %}
					<a class="{{ theme_mods.checkout_color }}" title="{{ __( 'Add to cart', 'maera_edd' ) }}" href="{{ site.link }}?edd_action=add_to_cart&download_id={{ post.ID }}"><span class="dashicons dashicons-cart"></span></a>
					<a class="{{ theme_mods.checkout_color }}" title="{{ __( 'More details on ', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}"><span class="dashicons dashicons-visibility"></span></a>
				{% endif %}
			{% endif %}
		</p>
	</div>

</div>
