{#<?php#}
{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="post-{{post.ID}}">

			{% do action( 'shoestrap/single/top', post.ID ) %}

			{% include 'parts/single-title.twig' %}

			{% do action( 'shoestrap/entry/meta', post.ID ) %}

			<div class="entry-content">

				{% do action( 'shoestrap/single/pre_content', post.ID ) %}
				{{ post.content }}
				{{ framework.clearfix }}
				{{ function( 'wp_link_pages', {
					'before': '<div class="page-links">' . __( 'Pages:', 'shoestrap' ),
					'after': '</div>'
				}) }}
				{{ framework.clearfix }}
				{% do action( 'shoestrap/single/after_content', post.ID ) %}
			</div>

			<footer></footer>

			{% include 'comments.twig' %}

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}
