{#<?php#}
{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="post-{{post.ID}}">

			{% do action( 'maera/single/top', post.ID ) %}

			{% include 'parts/single-title.twig' %}

	        <p class="post-meta">
	        	{{ post.date }}
	        	{{ __( 'under', 'maera' ) }}
	        	{% for category in post.get_categories %}
	        		<a href="{{ category.get_path }}">{{ category.name }}</a>
	        	{% endfor %}
	        	{{ __( 'by', 'maera' ) }}
	        	<a href="{{ post.author.link }}">{{ post.author.name }}</a>
	        	{% if post.comments %}
	        		{{ __( 'with', 'maera' ) }}
	        		<a href="{{ post.link }}#comments">{{ post.comment_count }} {{ __( 'comments', 'maera' ) }}</a>
	        	{% endif %}
	        </p>

			<div class="entry-content">

				{% do action( 'maera/single/pre_content', post.ID ) %}
				{{ post.content }}
				{{ shell.clearfix }}
				{{ function( 'wp_link_pages', {
					'before': '<div class="page-links">' . __( 'Pages:', 'maera' ),
					'after': '</div>'
				}) }}
				{{ shell.clearfix }}
				{% do action( 'maera/single/after_content', post.ID ) %}
			</div>

			<footer></footer>

			{% include 'comments.twig' %}

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}
