<p class="post-meta">
	<span itemprop="datePublished">{{ post.date }}</span>
	{{ i18n.under }}
	{% for category in post.get_categories %}
		<a href="{{ category.get_path }}" itemprop="articleSection">{{ category.name }}</a>
	{% endfor %}
	{{ i18n.by }}
	<a href="{{ post.author.link }}" itemprop="author">{{ post.author.name }}</a>
	{% if post.comments %}
		{{ i18n.with }}
		<a href="{{ post.link }}#comments">{{ post.comment_count }} {{ i18n.comments_lower }}</a>
	{% endif %}
</p>
