{#<?php#}
<article {{ function( 'post_class' ) }} id="tease-{{ post.ID }}">

	{% block content %}

		{{ post.top }}

		{% include 'parts/tease-title.twig' %}

		{{ post.meta_info }}

		<div class="entry-summary">
			{{ post.teaser }}
			{{ framework.clearfix }}
		</div>

		<footer class="entry-footer">
			{{ post.footer }}
		</footer>

	{% endblock %}
</article>
