<div id="bbpress-forums">

	{{ function('bbp_breadcrumb') }}

	{{ function('bbp_forum_subscription_link') }}

	{% do action('bbp_template_before_single_forum') %}

	{% if function('post_password_required') %}

		{{ function('bbp_get_template_part', 'form', 'protected') }}

	{% else %}

	{{ function('bbp_single_forum_description') }}

	{% if function('bbp_has_forums') %}

		{{ function('bbp_get_template_part', 'loop', 'forums') }}

	{% endif %}

		{% if function('bbp_is_forum_category') < 1 and function('bbp_has_topics') %}

			{{ function('bbp_get_template_part', 'pagination', 'topics') }}
			{{ function('bbp_get_template_part', 'loop', 'topics') }}
			{{ function('bbp_get_template_part', 'pagination', 'topics') }}
			{{ function('bbp_get_template_part', 'form', 'topic') }}

		{% elseif function('bbp_is_forum_category') > 1 %}

			{{ function('bbp_get_template_part', 'feedback', 'no-topics') }}
			{{ function('bbp_get_template_part', 'form', 'topic') }}

		{% endif %}

	{% endif %}

	{% do action('bbp_template_after_single_forum') %}
</div>
