<div id="bbpress-forums">

	{% do action('bbp_template_notices') %}

	<div id="bbp-user-wrapper">

		{{ function('bbp_get_template_part', 'user', 'details') }}

		<div id="bbp-user-body">
			{% if function('bbp_is_favorites') %} {{ function('bbp_get_template_part', 'user', 'favorites') }} {% endif %}
			{% if function('bbp_is_subscriptions') %} {{ function('bbp_get_template_part', 'user', 'subscriptions') }} {% endif %}
			{% if function('bbp_is_single_user_topics') %} {{ function('bbp_get_template_part', 'user', 'topics-created') }} {% endif %}
			{% if function('bbp_is_single_user_replies') %} {{ function('bbp_get_template_part', 'user', 'replies-created') }} {% endif %}
			{% if function('bbp_is_single_user_edit') %} {{ function('bbp_get_template_part', 'form', 'user-edit') }} {% endif %}
			{% if function('bbp_is_single_user_profile') %} {{ function('bbp_get_template_part', 'user', 'profile') }} {% endif %}
		</div>
	</div>
</div>
