<div id="bbpress-forums">

	{{ function('bbp_breadcrumb') }}

	{{ function('bbp_set_query_name', function('bbp_get_view_rewrite_id')) }}

	{% if function('bbp_view_query') %}

		{{ function('bbp_get_template_part', 'pagination', 'topics') }}

		{{ function('bbp_get_template_part', 'loop', 'topics') }}

		{{ function('bbp_get_template_part', 'pagination', 'topics') }}

	{% elseif %}

		{{ function('bbp_get_template_part', 'feedback', 'no-topics') }}

	{% endif %}

	{{ function('bbp_reset_query_name') }}

</div>
