<div id="bbpress-forums">
	{{ function('bbp_breadcrumb') }}
	{% do action('bbp_template_before_single_topic') %}

	{% if function('post_password_required') %}
		{{ function('bbp_get_template_part', 'form', 'protected') }}
	{% else %}

		{{ function('bbp_topic_tag_list') }}
		{{ function('bbp_single_topic_description') }}

		{% if function('bbp_show_lead_topic') %}
			{{ function('bbp_get_template_part', 'content', 'single-topic-lead') }}
		{% endif %}

		{% if function('bbp_has_replies') %}
			{{ function('bbp_get_template_part', 'pagination', 'replies') }}
			{{ function('bbp_get_template_part', 'loop', 'replies') }}
			{{ function('bbp_get_template_part', 'pagination', 'replies') }}
		{% endif %}

		{{ function('bbp_get_template_part', 'form', 'reply') }}

	{% endif %}

	{% do action('bbp_template_after_single_topic') %}
</div>
