<form role="search" method="get" id="bbp-search-form" action="{{ function('bbp_search_url') }}">
	<div>
		<label class="screen-reader-text hidden" for="bbp_search">{{ __('Search for:', 'bbpress') }}</label>
		<input type="hidden" name="action" value="bbp-search-request" />
		<input tabindex="{{ function('bbp_tab_index') }}" type="text" value="{{ function('bbp_get_search_terms')|escape('html_attr') }}" name="bbp_search" id="bbp_search" />
		<input tabindex="{{ function('bbp_tab_index') }}" class="button" type="submit" id="bbp_search_submit" value="{{ __('Search', 'bbpress'|escape('html_attr')) }}" />
	</div>
</form>
