<form method="post" action="{{ function('bbp_wp_login_action', [{'context':'login_post'}]) }}" class="bbp-login-form">
	<fieldset class="bbp-form">
		<legend>{{ __('Create an Account', 'bbpress') }}</legend>

		<div class="bbp-template-notice">
			<p>{{ __('Your username must be unique, and cannot be changed later.', 'bbpress') }}</p>
			<p>{{ __('We use your email address to email you a secure password and verify your account.', 'bbpress') }}</p>

		</div>

		<div class="bbp-username">
			<label for="user_login">{{ __('Username', 'bbpress') }}: </label>
			<input type="text" name="user_login" value="{{ function('bbp_sanitize_val','user_login') }}" size="20" id="user_login" tabindex="{{ function('bbp_tab_index') }}" />
		</div>

		<div class="bbp-email">
			<label for="user_email">{{ __('Email', 'bbpress') }}: </label>
			<input type="text" name="user_email" value="{{ function('bbp_sanitize_val','user_email') }}" size="20" id="user_email" tabindex="{{ function('bbp_tab_index') }}" />
		</div>

		{% do action('register_form') %}

		<div class="bbp-submit-wrapper">

			<button type="submit" tabindex="{{ function('bbp_tab_index') }}" name="user-submit" class="button submit user-submit">{{ __('Register', 'bbpress') }}</button>

			{{ function('bbp_user_register_fields') }}

		</div>
	</fieldset>
</form>
