{% if function('bbp_is_forum_edit') %}

<div id="bbpress-forums">

	{{ function('bbp_breadcrumb') }}

	{{ function('bbp_single_forum_description', [{'forum_id':function('bbp_get_forum_id')}]) }}

{% endif %}


{% if function('bbp_current_user_can_access_create_forum_form') %}

	<div id="new-forum-{{ function('bbp_forum_id') }}" class="bbp-forum-form">

		<form id="new-post" name="new-post" method="post" action="{{ function('the_permalink') }}">

			{% do action('bbp_theme_before_forum_form') %}

			<fieldset class="bbp-form">
				<legend>
					{% if function('bbp_is_forum_edit') %}

						{{ __('Now Editing &ldquo;%s&rdquo;', 'bbpress')|format(function('bbp_get_forum_title')) }}

					{% else %}

						{{ function('bbp_is_single_forum') ? __('Create New Forum in &ldquo;%s&rdquo;', 'bbpress')|format(function('bbp_get_forum_title')) : {{ __('Create New Forum', 'bbpress') }} }}

				</legend>

				{% do action('bbp_theme_before_forum_form_notices') %}

				{% if function('bbp_is_forum_edit') < 1 and function('bbp_is_forum_closed') %}

					<div class="bbp-template-notice">
						<p>{{ __('This forum is closed to new content, however your account still allows you to do so.', 'bbpress') }}</p>
					</div>

				{% endif %}

				{% if function('current_user_can', 'unfiltered_html') %}

					<div class="bbp-template-notice">
						<p>{{ __('Your account has the ability to post unrestricted HTML content.', 'bbpress') }}</p>
					</div>

				{% endif %}

				{% do action('bbp_template_notices') %}

				<div>

					{% do action('bbp_theme_before_forum_form_title') %}

					<p>
						<label for="bbp_forum_title">{{ __('Forum Name (Maximum Length: %d):', 'bbpress')|format(function('bbp_get_title_max_length')) }}</label><br />
						<input type="text" id="bbp_forum_title" value="{{ function('bbp_form_forum_title') }}" tabindex="{{ function('bbp_tab_index') }}" size="40" name="bbp_forum_title" maxlength="{{ function('bbp_title_max_length') }}" />
					</p>

					{% do action('bbp_theme_after_forum_form_title') %}

					{% do action('bbp_theme_before_forum_form_content') %}

					{{ function('bbp_the_content', [{'context':'forum'}]) }}

					{% do action('bbp_theme_after_forum_form_content') %}

					{% if function('bbp_use_wp_editor') < 1 or function('current_user_can', 'unfiltered_html' )%}

						<p class="form-allowed-tags">
							<label>{{ __('You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:', 'bbpress') }}</label><br />
							<code>{{ function('bbp_allowed_tags') }}</code>
						</p>

					{% endif %}

					{% do action('bbp_theme_before_forum_form_type') %}

					<p>
						<label for="bbp_forum_type">{{ __('Forum Type:', 'bbpress') }}</label><br />
						{{ function('bbp_form_forum_type_dropdown') }}
					</p>

					{% do action('bbp_theme_after_forum_form_type') %}

					{% do action('bbp_theme_before_forum_form_status') %}

					<p>
						<label for="bbp_forum_status">{{ __('Status:', 'bbpress') }}</label><br />
						{{ function('bbp_form_forum_status_dropdown') }}
					</p>

					{% do action('bbp_theme_after_forum_form_status') %}

					{% do action('bbp_theme_before_forum_form_status') %}

					<p>
						<label for="bbp_forum_visibility">{{ __('Visibility:', 'bbpress') }}</label><br />
						{{ function('bbp_form_forum_visibility_dropdown') }}
					</p>

					{% do action('bbp_theme_after_forum_visibility_status') %}

					{% do action('bbp_theme_before_forum_form_parent') %}

					<p>
						<label for="bbp_forum_parent_id">{{ __('Parent Forum:', 'bbpress') }}</label><br />

						{{ function('bbp_dropdown', [{'select_id':'bbp_forum_parent_id'}, {'show_none':{{ __('(No Parent)', 'bbpress')}} }, {'selected',function('bbp_get_form_forum_parent')}, {'exclude',function('bbp_get_forum_id')}]) }}

					</p>

					{% do action('bbp_theme_after_forum_form_parent') %}

					{% do action('bbp_theme_before_forum_form_submit_wrapper') %}

					<div class="bbp-submit-wrapper">

						{% do action('bbp_theme_before_forum_form_submit_button') %}

						<button type="submit" tabindex="{{ function('bbp_tab_index') }}" id="bbp_forum_submit" name="bbp_forum_submit" class="button submit">{{ __('Submit', 'bbpress') }}</button>

						{% do action('bbp_theme_after_forum_form_submit_button') %}

					</div>

					{% do action('bbp_theme_after_forum_form_submit_wrapper') %}

				</div>

				{{ function('bbp_forum_form_fields') }}

			</fieldset>
				{% do action('bbp_theme_after_forum_form') %}
		</form>
	</div>

{% elseif function('bbp_is_forum_closed') %}

	<div id="no-forum-{{ function('bbp_forum_id') }}" class="bbp-no-forum">
		<div class="bbp-template-notice">
			<p>{{ __('The forum &#8216;%s&#8217; is closed to new content.', 'bbpress')|format(function('bbp_get_forum_title')) }}</p>
		</div>
	</div>

{% else %}

	<div id="no-forum-{{ function('bbp_forum_id') }}" class="bbp-no-forum">
		<div class="bbp-template-notice">
			<p>{% if function('is_user_logged_in') ? {{ __('You cannot create new forums.', 'bbpress') }} : {{ __('You must be logged in to create new forums.', 'bbpress') }}%}</p>
		</div>
	</div>

{% endif %}

{% if function('bbp_is_forum_edit') %}

</div>

{% endif %}
