<div id="post-{{ function('bbp_reply_id') }}" class="bbp-reply-header">

	<div class="bbp-meta">

		<span class="bbp-reply-post-date">{{ function('bbp_reply_post_date') }}</span>

		{% if function('bbp_is_single_user_replies') %}

			<span class="bbp-header">
				{{ __('in reply to: ', 'bbpress') }}
				<a class="bbp-topic-permalink" href="{{ function('bbp_topic_permalink', function('bbp_get_reply_topic_id') ) }}">{{ function('bbp_topic_title', function('bbp_get_reply_topic_id')) }}</a>
			</span>

		{% endif %}

		<a href="{{ function('bbp_reply_url') }}" class="bbp-reply-permalink">#{{ function('bbp_reply_id') }}</a>

		{% do action('bbp_theme_before_reply_admin_links') %}

		{{ function('bbp_reply_admin_links') }}

		{% do action('bbp_theme_after_reply_admin_links') %}

	</div><!-- .bbp-meta -->

</div><!-- #post-{{ function('bbp_reply_id') }} -->

<div {{ function('bbp_reply_class') }}>

	<div class="bbp-reply-author">

		{% do action('bbp_theme_before_reply_author_details') %}

		{{ function('bbp_reply_author_link', [{'sep':'<br />'}, {'show_role':true}]) }}

		{% if function('bbp_is_user_keymaster') %}

			{% do action('bbp_theme_before_reply_author_admin_details') %}

			<div class="bbp-reply-ip">{{ function('bbp_author_ip', function('bbp_get_reply_id')) }}</div>

			{% do action('bbp_theme_after_reply_author_admin_details') %}

		{% endif %}

		{% do action('bbp_theme_after_reply_author_details') %}

	</div><!-- .bbp-reply-author -->

	<div class="bbp-reply-content">

		{% do action('bbp_theme_before_reply_content') %}

		{{ function('bbp_reply_content') }}

		{% do action('bbp_theme_after_reply_content') %}

	</div><!-- .bbp-reply-content -->

</div><!-- .reply -->
