<div class="bbp-forum-header">

	<div class="bbp-meta">

		<span class="bbp-forum-post-date">{{ __('Last updated %s', 'bbpress')|format(function('bbp_get_forum_last_active_time')) }}</span>

		<a href="{{ function('bbp_forum_permalink') }}" class="bbp-forum-permalink">#{{ function('bbp_forum_id') }}</a>

	</div><!-- .bbp-meta -->

	<div class="bbp-forum-title">

		{% do action('bbp_theme_before_forum_title') %}

		<h3>{{ __('Forum:', 'bbpress') }}<a href="{{ function('bbp_forum_permalink') }}">{{ function('bbp_forum_title') }}</a></h3>

		{% do action('bbp_theme_after_forum_title') %}

	</div><!-- .bbp-forum-title -->

</div><!-- .bbp-forum-header -->

<div id="post-{{ function('bbp_forum_id') }}" {{ function('bbp_forum_class') }}>

	<div class="bbp-forum-content">

		{% do action('bbp_theme_before_forum_content') %}

		{{ function('bbp_forum_content') }}

		{% do action('bbp_theme_after_forum_content') %}

	</div><!-- .bbp-forum-content -->

</div><!-- #post-{{ function('bbp_forum_id') }} -->
