{#<?php#}
{% if theme_mods.navbar_toggle == 'none' %}
{% else %}

	{% do action( 'shoestrap/topbar/before' ) %}

	<header id="banner-header" class="banner {{ 'navbar navbar-default'|apply_filters( 'shoestrap/topbar/class' ) }}" role="navigation">
		<div class="{{ 'container'|apply_filters( 'shoestrap/topbar/class/container' ) }}">

			<div class="navbar-header">

				{{ '<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>'|apply_filters( 'shoestrap/topbar/toggler' ) }}

				<a class="navbar-brand" href="{{ site.url }}">{{ "<div class='sitename'>#{ site.name }</div>"|apply_filters( 'shoestrap/topbar/brand' ) }}</a>

			</div>

			{% do action( 'shoestrap/topbar/main/before' ) %}

			<nav class="nav-main navbar-collapse collapse" role="navigation">

				{% do action( 'shoestrap/topbar/inside/begin' ) %}

				<ul class="{{ 'nav navbar-nav navbar-main'|apply_filters('shoestrap/topbar/menu/class') }}">
					{% for item in menu.primary.get_items %}

						{% if item.get_children %}

							<li class="dropdown {{ item.classes|join(' ') }}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									{% for child in item.get_children %}
										<li class="{{ item.classes|join(' ') }}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
									{% endfor %}
								</ul>
							</li>

						{% else %}

							<li class="{{ item.classes|join(' ') }}"><a href="{{ item.get_path }}">{{ item.title }}</a>

						{% endif %}

					{% endfor %}
				</ul>

				{% do action( 'shoestrap/topbar/inside/end' ) %}

			</nav>

			{% do action( 'shoestrap/topbar/main/after' ) %}

		</div>
	</header>

	{% do action( 'shoestrap/topbar/after' ) %}

{% endif %}
