{#
	Make dropdown buttons
#}
{% macro make_dropdown_button(color, size, type, extra, label, content) %}

	<div class="btn-group">
		<button type="button" class="dropdown-toggle {{ button_classes( #{ color }, #{ size }, #{ type } ) }}" data-toggle="dropdown">
			{{ label }} <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu">{{ content }}</ul>
	</div>

{% endmacro %}

{#
	Calculate button classes
#}
{% macro button_classes(color, size, type, extra) %}

	btn-{{ color }}

	{% if size is 'extra-small' %}btn-xs{% endif %}
	{% if size is 'small' %}btn-sm{% endif %}
	{% if size is 'medium' %}{# No need for an extra class #}{% endif %}
	{% if size is 'large' %}btn-lg{% endif %}
	{% if size is 'extra-large' %}btn-lg{% endif %}

	{{ type }}
	{{ extra }}

{% endmacro %}


{#
	Calculate button group classes
#}
{% macro button_group_classes(size, type, extra_classes) %}

	btn-group
	{% if size is 'extra-small' %}btn-group-xs{% endif %}
	{% if size is 'small' %}btn-group-sm{% endif %}
	{% if size is 'medium' %}{# No need for an extra class #}{% endif %}
	{% if size is 'large' %}btn-group-lg{% endif %}
	{% if size is 'extra-large' %}btn-group-lg{% endif %}
	{{ type }}
	{{ extra_classes }}

{% endmacro %}
