{#
	Open panel
#}
{% macro open_panel(extra_classes, id) %}
	<div class="panel{{ extra_classes ? ' '~extra_classes : '' }}"{{ id ? ' id="'~id~'"' : '' }}>
{% endmacro %}

{#
	Close panel
#}
{% macro close_panel() %}
	</div>
{% endmacro %}

{#
	Open panel heading
#}
{% macro open_panel_heading(extra_classes) %}
	<div class="panel-heading{{ extra_classes ? ' '~extra_classes : '' }}">
{% endmacro %}

{#
	Close panel heading
#}
{% macro close_panel_heading() %}
	</div>
{% endmacro %}

{#
	Open panel body
#}
{% macro open_panel_body(extra_classes) %}
	<div class="panel-body{{ extra_classes ? ' '~extra_classes : '' }}">
{% endmacro %}

{#
	Close panel body
#}
{% macro close_panel_body() %}
	</div>
{% endmacro %}

{#
	Open panel footer
#}
{% macro open_panel_footer(extra_classes) %}
	<div class="panel-body{{ extra_classes ? ' '~extra_classes : '' }}">
{% endmacro %}

{#
	Close panel footer
#}
{% macro close_panel_footer() %}
	</div>
{% endmacro %}
