{#<?php#}
<ul class="paginator" itemprop="pagination">
	{% if pagination.prev %}
		<li><a href="{{ pagination.prev.link |e('esc_url') }}" class="button prev {{ pagination.prev.link|e('esc_url') |length ? '' : 'invisible' }}">&#171;</a></li>
	{% endif %}

	{% for page in pagination.pages %}
		<li>
			{% if page.link %}
				<a href="{{ page.link |e('esc_url') }}" class="button {{ page.class }}">{{ page.title }}</a>
			{% else %}
				<a href="#" class="button button-active {{ page.class }}">{{ page.title }}</a>
			{% endif %}
		</li>
	{% endfor %}

	{% if pagination.next %}
		<li><a href="{{ pagination.next.link |e('esc_url') }}" class="button next {{ pagination.next.link|e('esc_url' |length ? '' : 'invisible' }}">&#187;</a></li>
	{% endif %}
</ul>
